:root {
    --verde: #A5D692;
    --verde-dessaturado: #c7d6c1;
    --azul: #4A8BBA;
    --azul-claro: #BDE2F1;
    --vermelho: #C84852;
    --vermelho-claro: E9B6BA;
}

.swagger-ui .topbar-wrapper .link {
    background: url('/images/logoRabbitask.webp') no-repeat;
    background-size: contain;
    height: 100px;
}

    .swagger-ui .topbar-wrapper .link img {
        display: none;
    }


body {
    background-color: #FBF7EF;
}

.swagger-ui .topbar {
    background-color: #4A8BBA;
}

.swagger-ui .info h1 {
    font-family: Arial, sans-serif;
    color: #2980b9;
}

.swagger-ui .opblock.opblock-post .opblock-summary {
    border-color: var(--verde);
}

.swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: var(--verde)
}

.swagger-ui .opblock.opblock-get .opblock-summary {
    border-color: var(--azul);
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: var(--azul)
}

.swagger-ui .opblock.opblock-delete.opblock-summary {
    border-color: var(--vermelho);
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method {
    background: var(--vermelho)
}
